.container {
  border: 2px solid black;
  margin-top: 1em;
  text-align: center;
}

.row {
  height: 1.5em;
}

.baseCell {
  display: table-cell;
  width: 1.5em;
  border: outset 2px white;
}

.green {
  background-color: green;
}

.light_green {
  background-color: lightgreen;
}

.salmon {
  background-color: salmon;
}

.light_salmon {
  background-color: lightsalmon;
}

.hint {
  font-weight: 700;
}
