.header_container {
  padding: 1em;
  background-color: darkgreen;
  color: #efefef;
  border: 2px black solid;
  border-bottom: none;
}

.container {
  border: 2px solid black;
  text-align: center;
}

.row {
  height: 1.5em;
}

.baseCell {
  display: table-cell;
  width: 1.5em;
  border: outset 2px white;
}

.green {
  background-color: green;
}

.light_green {
  background-color: lightgreen;
}

.salmon {
  background-color: salmon;
}

.light_salmon {
  background-color: lightsalmon;
}

.hint {
  font-weight: 700;
}

.select {
  text-transform: capitalize;
  padding: 4px;
}

.header_icon {
  padding: 7px;
}

.header_button {
  cursor: pointer;
}
